<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style>
      .chessboard {
        display: grid;
        grid-template-columns: repeat(8, minmax(0, 1fr));
        grid-template-rows: repeat(8, minmax(0, 1fr));
        width: 600px;
        height: 600px;
        transform: rotate(0deg);
      }

      .piece.white {
        color: white;
        filter: drop-shadow(0 0 2px rgba(0, 0, 0, 1));
      }

      .piece.black {
        color: black;
      }

      .flipped {
        transform: rotate(180deg);
      }

      .square {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .square.light {
        background-color: #f0d9b5;
      }

      .square.dark {
        background-color: #b58863;
      }

      .piece {
        font-size: 60px;
        cursor: pointer;
      }

      .piece.draggable {
        cursor: grab;
      }

      .dragging {
        opacity: 0.5;
      }

      /* Rotate pieces for black player */
      .flipped .piece {
        transform: rotate(180deg);
      }
    </style>
  </head>
  <body>
    <div class="w-full h-screen bg-zinc-900 flex items-center justify-center">
      <div class="chessboard w-100 h-100"></div>
    </div>

    <!-- add socket cdn -->
    <script
      src="https://cdn.socket.io/4.8.3/socket.io.min.js"
      integrity="sha384-kzavj5fiMwLKzzD1f8S7TeoVIEi7uKHvbTA3ueZkrzYq75pNQUiUi6Dy98Q3fxb0"
      crossorigin="anonymous"
    ></script>
    <!-- add chess cdn -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"
      integrity="sha512-xRllwz2gdZciIB+AkEbeq+gVhX8VB8XsfqeFbUh+SzHlN96dEduwtTuVuc2u9EROlmW9+yhRlxjif66ORpsgVA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- add js file -->
    <script src="/js/chessgame.js"></script>
  </body>
</html>
